.links {
    /* text-align: center;
    display: block; */
    float: right;
    padding: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    position: relative;
    z-index: 10;
    padding: 15px;
}

form, input {
    text-align: center;
    padding-top: 50px;
    display: block;
    position: relative;
    box-sizing: border-box;
}

#search {
    border-radius: 25px;
    size: 100px;
}

input[type=text] {
    width: 30%;
    padding: 10px 20px;
    /* margin: 8px 0; */
    margin: 0 auto;
    display: block;
    /* display: inline-block; */
    box-sizing: border-box;
}

input[type=submit] {
    border-radius: 5px;
    display: inline-block;
    width: 10%;
    padding: 5px;
    margin: 0 auto;
    margin-top: 30px;
    margin-right: 10px;
    cursor: pointer;
    /* display: block; */
    margin-bottom: 10px;
    text-align: center;
}

h2 {
    color: red;
}

img {
    width: 300px;
    text-align: center;
    padding-top: 150px;
    margin: 0 auto;
    margin-right: 38rem;
    display: block;
    position: relative;
    box-sizing: border-box;
}

/* form, h5, input > #advanced {
    text-align: left;
    padding-top: 0%;
    display: inline;
    margin: 10px;
    
} */